.section {
    display: flex;
    margin: auto 0;

}

.greeting .hero {
    min-height: 100vh;
    margin: 0;

    @include phones() {
        height: 660px;
    }
}

/*

.container {
    border: 1px solid green;
}

*/