.greeting {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 200vh;
    position: relative;
/* 
    background-image: url("~images/content/mountain.png");
    background-size: cover;
    background-repeat: no-repeat;
*/
}