.hero__header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}



.hero__socials {
    width: 15%;
    fill: #464d62;
 
}

.hero__logo {
   width: 10%;
}

.hero__menu {
   width: 60%;
}