.hero__container {
   display: flex;
   height: 100%;
   flex-direction: column;
   
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}


.hero__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
} 

.hero__btns {
    display: flex;
    justify-content: center;
}

