.nav {
   font-weight: 400;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav__item {
    margin-right: 60px;
    
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: $links-color;
        text-decoration: underline;
        transition: 1s;
    }
}

