.tags__list {
    display: flex;
    justify-content: space-between;
   
}


.tag__item {
    font-size: 15px;
    font-weight: 400;
    background-color: #859fc2;;
    border-radius: 23px;
    display: block;
   
}

.tag__name {
    color: $text-color;
    font-size: 15px;
    line-height: 48px;
    font-weight: 400;
    padding: 20px;
   
}

.job-rt .tags__list {
    margin-top: 150px;
    margin-bottom: 50px;
}