section.section.skill
  .container
    .skill-lft
      .skill-lft__img
        .skill-lft__img-pic
    .skill-rt
      h2.title.title__skill Чем я могу быть полезен вам
      p.skill-rt__desc 
        |Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. 
        |Чуть позже я освежу в нём свой контент. 
        |А пока посмотрите, как тут всё классно и красиво!
      .values__widget
        #skills-component