include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.greeting
          include components/parallax-hero
          include components/hero
          include components/about
          include  components/triangles__top
        section.middle__section
          include  components/skill
          include  components/work
        include  components/triangles__btm
        section.budha
          include  components/feedback
          include  components/form
        //  include components/form-submit

        include  components/footer 
           
    include ./templates/entry.pug